*{
    margin: 0;
    padding: 0;
}



body{
    font-family: sans-serif;
    background-color: darkmagenta;
}

.titlebar{
    color: white;
    text-align: center;
    padding: 10px;
}

img{
    width: 150px;
    height: 150px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.container div{
    width: 300px;
    color: white;
    margin: 20px;
    flex-basis: 20%;
}